/* controllo connessione link html - css
body {
    background-color: black;
} */


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    font: inherit;
}

/* HEADER */
header {
    display: flex;
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: aqua;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    /* DEBUG */
    background-color: aqua;
}

    .left {
        display: flex;
        align-items: center;
    }

        .left .logo {
            margin-left: 10px;
            height: 45px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            padding: 10px;
        }

    .right {
        display: flex;
        align-items: center;
    }

    .top-link {
        text-align: center;
        margin: auto;
        padding: 25px;
    }

    .button {
        margin-right: 20px;
        padding: 0 20px;
        border: none;
        background-color: black;
        color: white;
        cursor: pointer;
        height: 35px;
        line-height: 35px;
        display: inline-block;
        text-align: center;
    }
    
    
        .button.blue {
            background-color: #007bff;
            color: white;
        }   
    
        .button.blue:hover {
            background-color: #0056b3;
        }
    


/* MAIN */
/* hero */
.hero {
    display: flex;
    height: 820px;

    /* DEBUG */
    background-color: #b4d0e7;
}

/* business plan */
.business-plan {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 170rem;
    width: 60%;

    /* DEBUG */
    background-color: blueviolet;
}

    .cards {

    }

    .enterprise {

    }

    .partner {

    }

    .operations {

    }

    .teams {

    }

.designit {
    display: flex;
    height: 650px;

    /* DEBUG */
    background-color: tomato;
}

.free-trial {
    display: flex;
    height: 400px;

    /* DEBUG */
    background-color: #b4d0e7;
}

.faq {
    display: flex;
    height: 750px;

    /* DEBUG */
    background-color:blue;
}

/* FOOTER */

footer {
    display: flex;
    height: 600px;

    /* DEBUG */
    background-color: black;
}